altgraph==0.17
apiclient==1.0.4
asgiref==3.2.3
beautifulsoup4==4.8.2
bs4==0.0.1
cachetools==4.0.0
certifi==2019.11.28
chardet==3.0.4
chromedriver==2.24.1
click==7.1.1
colorama==0.4.3
configparser==4.0.2
crayons==0.3.0
credentials==1.1
cssselect==1.1.0
dataclasses-json==0.4.2
et-xmlfile==1.0.1
freeze==1.0.10
future==0.18.2
gdata==2.0.18
google-api-core==1.16.0
google-api-python-client==1.8.0
google-auth==1.11.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
google-oauth2-tool==0.0.3
googleapis-common-protos==1.51.0
httplib2==0.18.0
idna==2.9
isodate==0.6.0
jdcal==1.4.1
lxml==4.5.0
marshmallow==3.5.1
marshmallow-enum==1.5.1
mypy-extensions==0.4.3
numpy==1.18.1
oauth2==1.9.0.post1
oauth2-client==1.2.0
oauth2-google-login==1.0.0
oauth2client==4.1.3
oauthlib==3.1.0
openpyxl==3.0.3
pandas==1.0.1
pefile==2019.4.18
progress-bar==8
protobuf==3.11.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyInstaller==3.6
python-dateutil==2.8.1
python-youtube==0.6.0
pytz==2019.3
pywin32-ctypes==0.2.0
requests==2.23.0
requests-oauthlib==1.3.0
responses==0.10.12
rsa==4.0
selenium==3.141.0
six==1.14.0
soupsieve==2.0
sqlparse==0.3.0
stringcase==1.2.0
typing-extensions==3.7.4.1
typing-inspect==0.5.0
uritemplate==3.0.1
urllib3==1.26.5
webdriver-manager==2.3.0
youtube-data-api==0.0.17
